@import url("https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oxanium:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: "Poppins", serif !important;
  font-size: 20px !important;
}

.main-container {
  .product-container {
    font-family: "Poppins", serif !important;
    font-size: 20px !important;
    margin: 20px auto;
    .row {
      position: relative;
      box-shadow: 0 5px 12px rgb(161, 161, 161);
      border: 2px solid rgb(220, 18, 113);
      padding: 20px;
      border-radius: 12px;
      .next-btn {
        width: 180px;
        height: 40px;
        background-color: #99012e;
        position: absolute;
        color: aliceblue !important;
        text-decoration: none;
        text-align: center;
        border-radius: 10px;
        right: 8px;
        box-shadow: 0 2px 10px #64001e;
        bottom: 10px;
      }
      .col-lg-3 {
        width: 12%;
        display: flex;
        align-items: center;
        cursor: pointer;

        .product-image {
          width: 100px;
          height: 100px;
        }
      }
    }
  }
}
