.category-container {
  .col-sm-6 {
    display: flex;
    padding: 0px !important;
    justify-content: center;
  }
  .col-xxl-4 {
    width: 33%;
    margin: 10px 0px !important;
  }
  .category-image {
    width: 100% !important;
    transition: 0.2s ease-in-out;
    border-radius: 15%;
    height: 300px;
    cursor: pointer;

    &:hover {
      transform: scale(1.03);
      box-shadow: 0 1px 12px #000000;
    }
  }
}
