@media (max-width: 992px) {
  .navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between !important;
    .navbar-collapse {
      display: flex !important;
    }
  }
}
@media (max-width: 578px) {
  .navbar-collapse {
    display: flex !important;
    justify-content: center !important;
  }
}
.product-cart-item {
  padding: 5px;
  box-shadow: 0 4px 5px gray;
}
.cart {
  overflow-y: auto !important;
  height: 80vh;
  .cart-footer {
    width: 100%;
    position: fixed !important;
    bottom: 0px !important;
    box-shadow: 0 4px 12px rgb(0, 0, 0) !important;
  }
}
