@media (max-width: 992px) {
  .navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between !important;

    .navbar-collapse {
      display: flex !important;
      justify-content: end !important;

      .category-link {
        display: none !important;
      }
    }
    .brand-image {
      display: none !important;
    }
  }
  .dropdown {
    position: fixed !important;
    left: 0% !important;
    width: 390px !important;
    .dropdown-item {
      width: 350px !important;
      .columnTwo {
        padding: 10px 5px;
        text-align: center !important;
        row-gap: 20px;
      }
    }
  }
}
@media (max-width: 578px) {
  .navbar-collapse {
    display: flex !important;
    justify-content: center !important;
  }
  .form-control {
    width: 200px !important;
  }

  .dropdown {
    position: fixed !important;
    height: 600px !important;
    left: 0% !important;
    transform: translateY(-10%);
    width: 390px !important;
    box-shadow: 0 4px 4px gr;
    text-align: center !important;
    .dropdown-item {
      width: 350px !important;

      .columnTwo {
        padding: 10px 5px !important;
        text-align: center !important;
        display: flex !important;
        text-wrap: nowrap !important;
        align-items: center;
        justify-content: center !important;
        .price-small {
          transform: translateX(-30%);
        }
      }
    }
  }
}
.product-cart-item {
  padding: 5px;
  box-shadow: 0 4px 5px gray;
}
.cart {
  overflow-y: auto !important;
  height: 80vh;
  .cart-footer {
    width: 100%;
    position: fixed !important;
    bottom: 0px !important;
    box-shadow: 0 4px 12px rgb(0, 0, 0) !important;
  }
}
.filtered-container {
  position: relative !important;
  left: 45% !important;
  width: 300px !important;
  background-color: red;
}
.dropdown {
  position: absolute !important;
  top: 120px;
  height: 550px;
  left: 30%;
  width: 650px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #f5f3f4 !important;
  z-index: 1050;
  border-radius: 15px;
  box-shadow: 0px 5px 32px gray;
}

.dropdown-item {
  background-color: #e4e4e4 !important;
  width: 570px !important;
  border-radius: 7px !important;
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
  padding: 6px 9px !important;
  margin: 25px;
  box-shadow: 0px 8px 15px gray;
}
.dropdown .columnTwo {
  width: 225px;
  text-wrap: nowrap !important;
  display: flex !important;
  align-items: center !important;
  justify-content: right !important;
  flex-direction: column !important;
  padding: 15px 5px !important;
}
.dropdown .img {
  width: 80px;
  height: 75px;
}
.form-control {
  box-shadow: 0 2px 4px gray;
}
